/* ==========================
    VARIABLE FONT SIZES 
    & other STYLES for text
========================== */

/* DEFAULT METAFUND CSS VALUES HEADINGS */

h1 {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 64px;
}
h2 {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
h3 {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
h4 {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
h5 {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}


/* DEFAULT METAFUND CSS VALUES TEXT */

text1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }